body {
    font-family: Helvetica, Arial, sans-serif;
    font-size:20px;
    overflow:hidden;
    margin:0px; padding:20px;
    background-color:#ccc;
}

message {
    display: block;
    width:50%;
    padding:10px; 
    margin-left: auto; margin-right: auto;
    margin-top:10px; margin-bottom:10px;
    background-color:white;
    border-radius: 8px;
}