body {
    font-family: Helvetica, Arial, sans-serif;
    font-size:20px;
    overflow:hidden;
    margin:0px; padding:0px;
    background-color:#ccc;
}

message {
    display: block;
    width:50%;
    margin:10% 25%;
    padding:10px;
    background-color:white;
    line-height: 1.8;
    padding:10px;
    border-radius: 8px;
}